body {
    background-color: rgb(226, 220, 220);
}
.div {
    height: 1300px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: serif;
}

.img1, .img2, .img3 {
    width: 400px;
}
.p {
    text-align: center;
    font-family: serif;
    color: gray;
    margin-top: 50px;
    font-size: 20px;
}

.service {
    margin-top: 60px;
    text-align: center;
}
.service-button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}

.end {
    text-align: center;
    font-family: 'Roboto';
    margin-top: 70px;
}

.carousel-button {
    cursor: pointer;
    padding: 10px;
    background-color: #ddd;
    border: none;
    outline: none;
  }