@font-face {
    font-family: 'Roboto';
    src: url(../font-family/roboto/Roboto-Light.ttf);
}

body {
    background-color: rgb(226, 220, 220);
}

.img1, .img2, .img3 {
    width: 300px;
}
.img1 {
    height: 266.66px;
}

.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gornyatko, .first, .second {
    text-align: center;
    margin-top: 60px;
    font-family: 'Roboto';
    font-size: 22px;
}
.label {
    color: gray;
    font-family: 'Roboto';
    font-size: 15px;
}

.end {
    text-align: center;
    font-family: 'Roboto';
    margin-top: 90px;
}